In [36]:
# import the modules
import pandas
import numpy

In [4]:
# import the data
data = pandas.read_csv("data/german_data_clean.csv")

# Exploratory Data Analysis

Steps:

* Check for the data types
* Check for the data values
* Check for statistics

## Check for data types

In [6]:
# check for the data types
data.dtypes

checking_account             object
duration_months               int64
credit_history               object
purpose                      object
credit_amount                 int64
savings                      object
present_employment_since     object
installment_rate              int64
personal_status_sex          object
other_deptors                object
present_residence             int64
property                     object
age_years                     int64
other_installment_plans      object
housing                      object
existing_credits              int64
job                          object
people_liable_maintenance     int64
telephone                    object
foreign_worker               object
response                      int64
dtype: object

In [8]:
# show more information about the data
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 21 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   checking_account           1000 non-null   object
 1   duration_months            1000 non-null   int64
 2   credit_history             1000 non-null   object
 3   purpose                    1000 non-null   object
 4   credit_amount              1000 non-null   int64
 5   savings                    1000 non-null   object
 6   present_employment_since   1000 non-null   object
 7   installment_rate           1000 non-null   int64
 8   personal_status_sex        1000 non-null   object
 9   other_deptors              1000 non-null   object
 10  present_residence          1000 non-null   int64
 11  property                   1000 non-null   object
 12  age_years                  1000 non-null   int64
 13  other_installment_plans    1000 non-null   object
 14  housing                    1000 non-null   object
 15  existing_credits           1000 non-null   int64
 16  job                        1000 non-null   object
 17  people_liable_maintenance  1000 non-null   int64
 18  telephone                  1000 non-null   object
 19  foreign_worker             1000 non-null   object
 20  response                   1000 non-null   int64
dtypes: int64(8), object(13)
memory usage: 164.2+ KB

## Check for data values

In [9]:
# show all columns
data.columns

Index(['checking_account', 'duration_months', 'credit_history', 'purpose',
       'credit_amount', 'savings', 'present_employment_since',
       'installment_rate', 'personal_status_sex', 'other_deptors',
       'present_residence', 'property', 'age_years', 'other_installment_plans',
       'housing', 'existing_credits', 'job', 'people_liable_maintenance',
       'telephone', 'foreign_worker', 'response'],
      dtype='object')

In [12]:
# select the purpose column
data['purpose'].tail()

995    furniture/equipment
996             car (used)
997       radio/television
998       radio/television
999             car (used)
Name: purpose, dtype: object

In [13]:
# show the different values
data['purpose'].unique()

array(['radio/television', 'education', 'furniture/equipment',
       'car (new)', 'car (used)', 'business', 'domestic appliances',
       'repairs', 'others', 'retraining'], dtype=object)

In [14]:
# show the unique values and counts
data['purpose'].value_counts()

purpose
radio/television       280
car (new)              234
furniture/equipment    181
car (used)             103
business                97
education               50
repairs                 22
domestic appliances     12
others                  12
retraining               9
Name: count, dtype: int64

In [21]:
# show the max value for credit_amount
data.describe()

,duration_months,credit_amount,installment_rate,present_residence,age_years,existing_credits,people_liable_maintenance,response
count,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000
mean,20.903000,3271.258000,2.973000,2.845000,35.546000,1.407000,1.155000,0.300000
std,12.058814,2822.736876,1.118715,1.103718,11.375469,0.577654,0.362086,0.458487
min,4.000000,250.000000,1.000000,1.000000,19.000000,1.000000,1.000000,0.000000
25%,12.000000,1365.500000,2.000000,2.000000,27.000000,1.000000,1.000000,0.000000
50%,18.000000,2319.500000,3.000000,3.000000,33.000000,1.000000,1.000000,0.000000
75%,24.000000,3972.250000,4.000000,4.000000,42.000000,2.000000,1.000000,1.000000
max,72.000000,18424.000000,4.000000,4.000000,75.000000,4.000000,2.000000,1.000000

In [24]:
# calculate the total credit amount
data['credit_amount'].sum() / len(data)

3271.258

# Data modification

In [32]:
# add a new column
data['payment'] = data['credit_amount'] / data['duration_months']

In [33]:
# show statistics for our new column
data['payment'].describe()

count    1000.000000
mean      167.687020
std       153.490959
min        24.055556
25%        89.600000
50%       130.333333
75%       206.183333
max      2482.666667
Name: payment, dtype: float64

In [34]:
# overview of different purposes
data['purpose'].unique()

array(['radio/television', 'education', 'furniture/equipment',
       'car (new)', 'car (used)', 'business', 'domestic appliances',
       'repairs', 'others', 'retraining'], dtype=object)

In [46]:
car_purposes = ['car (new)', 'car (used)']

data['car_loan'] = numpy.where(data['purpose'].isin(car_purposes), 'yes', 'no')

In [44]:
data['car_loan'].value_counts()

car_loan
no     663
yes    337
Name: count, dtype: int64